/* Base Styles */
body {
    background: #24282f;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    position: relative;
    color: #ccc;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

h2 strong {
    position: relative;
    background: #24282f;
    padding: 4px 8px;
    z-index: 2;
}

.news {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.article {
    position: relative;
    width: 350px;
    height: 235px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.article figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article:hover img {
    filter: blur(3px);
    transform: scale(1.1);
}

.article:hover figcaption {
    transform: translateY(0);
}

.article h3 {
    margin: 0;
    font-size: 18px;
    color: #3792e3;
    font-weight: bold;
}

.article p {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 8px;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%; /* Adjust the max width of the modal content */
    max-height: 80%; /* Adjust the max height of the modal content */
    overflow: auto; /* Allow scrolling if content is larger */
}

.modal-content img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 1000px; /* Set a maximum width to make it smaller */
    border-radius: 8px; /* Optional: rounding the corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); /* Optional: shadow effect */
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 10px;
}
